/*
  * Nextflow config file
*/


manifest {
  author = 'Alison Morse'
  description = 'align maize genome'
  mainScript = 'NF_rnaseq_align_genome_maize.nf'
  nextflowVersion = '20.04.1'
}


env {

REF   = "mo17_yan"

// Directories
PROJ    =   "/blue/mcintyre/share/maize_ainsworth"
PY      =   "${PROJ}/scripts/rnaseq"
GREF    =   "/blue/mcintyre/share/references/maize_mo17/mo17_genome_maizegdb_YAN/Zm-Mo17-REFERENCE-YAN-1.0_BWA"
INPUT   =   "${PROJ}/cutadapt_bbmerge_fastqSplitDups"
INPUTNG =   "${PROJ}/cutadapt_bbmerge_fastqSplitDups_NG1"
OUTG    =   "${PROJ}/aln_mo17_yan_genome_${REF}"
PSAM    =   "${PROJ}/aln_mo17_yan_genome_${REF}_bwa_parse"
PILES   =   "${PSAM}/mpileups"
BAMFILES=   "${PSAM}/bam_files_uniq"
SAMFILES=   "${PSAM}/sam_files_uniq"
CVR     =   "${PROJ}/cvr_cnts_fusions_mo17_yan"
LOGC    =   "${CVR}/log_files"

// Files
DESIGN_FILE  =  "${PROJ}/design_files/maize_rnaseq_samples_fix_noHeader.csv"
//DESIGN_FILE  =  "${PROJ}/design_files/maize_rnaseq_samples_fix_noHeader_1row.csv"
FAREF = "/blue/mcintyre/share/references/maize_mo17/mo17_genome_maizegdb_YAN/Zm-Mo17-REFERENCE-YAN-1.0.fasta"
BED = "/blue/mcintyre/share/references/maize_mo17/mo17_YAN_TranD_exon_region_coverage.bed"
}

//  INPUT=$PROJ/cutadapt_bbmerge_fastqSplitDups
//        # (1) ${SAMPLEID}_bbmerge_min${MIN}_distinct.fq
//        # (2) ${SAMPLEID}_R1_unmerge_min${MIN}_distinct.fq
//        #     ${SAMPLEID}_R2_unmerge_min${MIN}_distinct.fq


// process default configurations
process {
    executor = 'slurm'
    clusterOptions = '-o /blue/mcintyre/share/maize_ainsworth/scripts/SLURM_LOGS/default-%A.out --job-name=default --account=mcintyre --qos=mcintyre-b'
    memory = 10.GB
    cpus = 1
    time = '24h'
}


// process specific configurations
process {
    withName: aln_merged_SE_2_genome {
    executor = 'slurm'
    clusterOptions = '--mem=36gb --ntasks-per-node=8 -o /blue/mcintyre/share/maize_ainsworth/scripts/SLURM_LOGS/aln_g-%A.out --job-name=aln_g --account=mcintyre --qos=mcintyre-b'
    time = '24h'
    }
}


process {
    withName: aln_unmerged_PE_2_genome {
    executor = 'slurm'
    clusterOptions = '--mem=36gb --ntasks-per-node=8 -o /blue/mcintyre/share/maize_ainsworth/scripts/SLURM_LOGS/aln_J-%A.out --job-name=aln_J --account=mcintyre --qos=mcintyre-b'
    time = '24h'
    }
}


// process specific configurations
process {
    withName: parse_aln {
    executor = 'slurm'
    clusterOptions = '--mem=36gb --ntasks-per-node=8 -o /blue/mcintyre/share/maize_ainsworth/scripts/SLURM_LOGS/parse-%A.out --job-name=parse --account=mcintyre --qos=mcintyre-b'
    time = '24h'
    }
}



// process specific configurations
process {
    withName: prep4counts {
    executor = 'slurm'
    clusterOptions = '--mem=36gb --ntasks-per-node=8 -o /blue/mcintyre/share/maize_ainsworth/scripts/SLURM_LOGS/preb-%A.out --job-name=prep --account=mcintyre --qos=mcintyre-b'
    time = '24h'
    }
}

