/*
  * Nextflow config file
*/


manifest {
  author = 'Alison Morse'
  description = 'Align genome'
  mainScript = 'NF_align_genome.nf'
  nextflowVersion = '20.07.1'
}

// default configurations       
process {
    executor = 'slurm'
    clusterOptions = '-o /blue/concannon/share/T1DGC_R01_controls_RNAseq/scripts/SLURM_LOGS/default-%A.out --job-name=default --account=concannon --qos=concannon-b'
    memory = 26.GB
    cpus = 1
    time = '24h'
}

// process specific configurations
process {
    withName:  BWA {
    executor = 'slurm'
    clusterOptions = '-o /blue/concannon/share/T1DGC_R01_controls_RNAseq/scripts/SLURM_LOGS/T1DGC_aln-%A.out --job-name=T1DGC_aln --account=concannon --qos=concannon-b'
    memory = 126.GB
    cpus = 8
    time = '24h'
   
    }
}
